* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  font-family: sans-serif;
}
.sign-in {
  background-color: blue;
  border: solid transparent;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.no-auth {
  display: flex;
  justify-content: center;
  align-items: center;
}
