
.page, .linksPage {
    font-family: monospace;
    text-align: center;
    background-color: rgb(255, 168, 255);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 200px;
    padding: -1em 2em -1em 0;
    border-radius: 5px;
    margin-left: 1em;
}

.logo svg {
    max-width: 30px;
}

.userThings {
    padding: 0.5em 1em 0.5em 1em;
    background-color: white;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    border-radius: 8px;
    box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
    -webkit-box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
    -moz-box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 1em;
    text-align: center;
}

.links h3 {
    text-align: center;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    border: solid 1px transparent;
    border-radius: 6px;
    max-width: 300px;
    min-width: 150px;
    min-height: 150px;
    max-height: 300px;
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(8px);
    box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
    -webkit-box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
    -moz-box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
}

.link a {
    text-decoration: none;
    color: teal;
    background-color: rgba(0, 225, 255, 0.212);
    padding: 0.3em;
    border: solid 1px teal;
    border-radius: 6px;
    margin: 0 1em 0 1em;
    overflow-x: scroll;
    max-width: 90%;
}

.link p {
    margin: 0 1em 0 1em;
}

.actions {
    position: fixed;
    bottom: 1em;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.createnNewLinksBookButton {
    max-width: 150px;
    max-height: 50px;
    min-width: 150px;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px transparent;
    border-radius: 8px;
    background-color: white;
    margin-right: 2em;
    transition: transform 0.2s ease-in-out;
    box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
    -webkit-box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
    -moz-box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
}

.createnNewLinksBookButton svg {
    max-width: 20px;
    fill: turquoise;
}

.createnNewLinksBookButton:focus {
    outline: none;
}

.createnNewLinksBookButton:active {
    transform: scale(0.9);
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.createNewLinksBookModalInvisible {
    box-shadow: 0 0 4px 2px rgba(139, 139, 139, 0.404);
    z-index: 2;
    max-width: 300px;
    max-height: 300px;
    padding: 1em;
    border-radius: 6px;
    position: fixed;
    top: 10px;
    transition: all 0.2s ease-in-out;
    background-color: white;
    display: none;
    visibility: hidden;
}

.createNewLinksBookModal {
    box-shadow: 0 0 4px 2px rgba(139, 139, 139, 0.404);
    z-index: 2;
    max-width: 300px;
    max-height: 300px;
    padding: 1em;
    border-radius: 6px;
    position: fixed;
    top: 10px;
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(8px);
}

.createNewLinksBookModal form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.createNewLinksBookModal input, .createNewLinksBookModal button {
    margin: 1em;
}

.createNewLinksBookModal input:focus, .createNewLinksBookModal button:focus {
    outline: none;
}

.createNewLinksBookModal input {
    padding: 0.5em 1em 0.5em 1em;
    border: solid 1px grey;
    border-radius: 5px;
}

.createNewLinksBookModal button {
    padding: 0.5em 1em 0.5em 1em;
    border: solid 1px transparent;
    border-radius: 5px;
}

.LinksBooksCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    padding: 1em;
    box-shadow: 0 0 2px 2px rgba(148, 148, 148, 0.219);
    max-width: 250px;
    min-width: 150px;
    background-color: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(8px);
    box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
    -webkit-box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
    -moz-box-shadow: 3px 21px 103px -9px rgba(89,89,89,0.58);
}

.linksPageLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksPageLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 2em 1em 2em 1em;
}

@media screen and (max-width: 520px) {
    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .linksPageLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .link {
        min-width: 250px;
        max-width: 250px;
        min-height: 250px;
    }
}

.createNewLinkContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 96vw;
    position: fixed;
    bottom: 2em;
}

.createNewLinkContainer button {
    max-width: 150px;
    max-height: 50px;
    min-width: 150px;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px transparent;
    border-radius: 8px;
    background-color: white;
    transition: transform 0.2s ease-in-out;
    
}

.createNewLinkContainer button:focus {
    outline: none;
}

.createNewLinkContainer button:active {
    transform: scale(0.9);
}

.newLinkModal {
    position: fixed;
    top: 2em;
    width: 96vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newLinkModal form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    border-radius: 6px;
    max-width: 300px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.288);
}

.newLinkModal input, .newLinkModal button {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.6em;
    border-radius: 5px;
    border: solid 1px grey;
}

.newLinkModal button {
    border: solid transparent !important;
}

.newLinkModal input:focus, .newLinkModal button:focus {
    outline: none;
}

.newLinkModalClosed {
    position: fixed;
    top: 2em;
    width: 96vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    visibility: hidden;
}

.linkCreated {
    text-align: center;
    color: grey;
    background-color: rgba(255, 255, 255, 0.253);
    padding: 3px;
    border-radius: 6px;
    position: fixed;
    left: 1em;
    top: 1em;
    transition: all 0.2s ease-in-out;
    backdrop-filter: blur(8px);
}

.linkCreatedClosed {
    display: none;
}

.linksbookAlert {
    background-color: white;
    box-shadow: 0 0 4px 2px whitesmoke;
    text-align: center;
    color: grey;
    font-family: sans-serif;
    border-radius: 6px;
    padding: 1px 3px 1px 3px;
    max-width: 150px;
    transition: all 0.2s ease-in-out;
    position: fixed;
    left: 1em;
}

.linksbookAlertClosed {
    display: none;
}

.noLinksbook {
    position: relative;
    left: 38vw;
}

.toDashLinksPage {
    padding: 0.5em 1em 0.5em 1em;
    background-color: white;
    border-radius: 6px;
    max-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}