
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    margin: 0 auto;
    font-family: sans-serif;
    background-color:thistle;
}

::-webkit-scrollbar {
    display: none;
}