.dashboardPage {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center button {
  margin-top: 1em;
  width: 90%;
}

.dashboardSections {
  display: flex;
  flex-direction: row;
  height: 91.8vh;
}

.foldersSection {
  height: 100%;
  min-width: 20%;
  max-width: 20%;
  border-right: solid 1px grey;
}

.foldersSectionHide {
  animation-name: hide-folders;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hide-folders {
  from {
    min-width: 20%;
    max-width: 20%;
  }

  to {
    min-width: 0%;
    max-width: 0%;
  }
}

.linksSection {
  height: 100%;
  width: 75%;
}

.linksSection__loading {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em 1em 1em 0.5em;
}

.page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 2em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  font-size: 2rem;
  margin: 0 2em;
  text-align: center;
}

.createLinkForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Side Pop Page  */
.sidePopPage {
  border-left: solid 1px grey;
  transition: all 0.2s ease-in-out;
  animation-name: pop-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes pop-out {
  from {
    right: 50px;
    width: 10px;
    height: 10px;
  }

  to {
    width: 60%;
    height: 91.5vh;
  }
}

.sidePopPageHide {
  display: none;
}

.showPopPageContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.showPopPageContentTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px grey;
}

.showPopPageTags {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.closeShowPopPage {
  position: relative;
  top: -15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.closeShowPopPage p {
  padding: 1px 10px;
  border: solid 1px grey;
  cursor: pointer;
}
/* End Side Pop Page */

/*  */
.errorPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
